# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.swp

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.eggs/

# Virtual environments
venv/
ENV/
env/
*.env

# Pytest
.cache/

# IDE/editor files
.vscode/
.idea/
*.iml
*.sublime-project
*.sublime-workspace

# Jupyter Notebooks
.ipynb_checkpoints/

# Logs
*.log

# Database
*.sqlite3
*.db

# Python-specific config files
*.tox/
*.coverage
*.hypothesis/
.coverage.*
nose2.cfg
*.nox/

# Other
*.DS_Store
*.log
